# Dependencies
node_modules/

# Env files
.env
backend/.env
frontend/.env

# Build outputs
dist/
frontend/dist/
backend/dist/

# OS / Editor junk
.DS_Store
Thumbs.db
*.log
*.tmp
.vercel
.netlify
.idea/
.vscode/

